<?php

if (!defined('IN_CONDUIT')){
    // Попытка прямого доступа к файлу
    exit();
}

if (!defined('IN_PHPBB')){
    // Попытка прямого доступа к файлу
    exit();
}

$sql_credentials = array(
    "host"      => "" ,             // change this setting if necessary
    "user"      => "LOGIN" ,        // change this setting
    "password"  => "PASSWORD" ,     // change this setting
    "db"        => "DATABASE" ,     // change this setting
    "driver"    => "mysql"          // change this setting if necessary
);

?>