<?php

if (!defined('IN_CONDUIT')){
    // Попытка прямого доступа к файлу
    exit();
}

$credentials = array ();

if (defined('SQL')) {
    $credentials['SQL'] = array (
        'host'      => '' ,             // change this setting if necessary
        'login'     => 'LOGIN' ,        // change this setting
        'password'  => 'PASSWORD' ,     // change this setting
        'db'        => 'DATABASE' ,     // change this setting
        'driver'    => 'mysql' ,        // change this setting if necessary
    );
}

if (defined('WebDAV')) {
    $credentials['WebDAV'] = array (
        'login'     => 'LOGIN' ,        // change this setting
        'password'  => 'PASSWORD' ,     // change this setting
        // url включает в себя и путь к папке на облаке, в которую вы хотите залить свои файлы
        // Папку обязательно нужно создать руками заранее, иначе загрузит всё в один файл.
        'url'       => 'https://webdav.yandex.ru/path/to/some/folder/' ,  // change this setting
    );
}

?>