# Запрет на прямой доступ к файлам *.inc, *.rar
<Files "*.inc">
    Order Deny,Allow
    Deny from all
</Files>
<Files "*.rar">
    Order Deny,Allow
    Deny from all
</Files>

# Запрещаем показывать список файлов в директориях, где нет индексного файла
Options -Indexes

# Убеждаемся, что всё настроено по дефолту
php_value magic_quotes_gpc off
php_value register_globals off

Options +FollowSymLinks

# По умолчанию будет открываться файл Conduits.php (вместо index.*)
DirectoryIndex Conduits.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteRule %{THE_REQUEST} /a22/ https://www.shashkovs.ru/forum179/conduit179_test/b22/ [R=301,L]
    RewriteCond %{THE_REQUEST} /a22/ [NC]
    RewriteRule ^.*$ https://www.shashkovs.ru/forum179/conduit179_test/b22/ [R=301,L]
    
    # Отрезаем от пути к файлу каталоги (начиная с левого) до тех пор, пока не получится существующий файл.
    # Используется для преобразования запроса вида conduit/b17/Conduits.php в conduit/Conduits.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*?)/(.*)$ $2 [L]
</IfModule>


# Архивируем всё
<IfModule mod_deflate.c>
##    DeflateEnable on
AddOutputFilterByType DEFLATE text/html text/css application/x-javascript application/javascript
</IfModule>

# Кешируем всё
#ExpiresActive On
#ExpiresByType image/x-icon A604800
#ExpiresByType image/gif A604800
#ExpiresByType image/jpeg A604800
#ExpiresByType image/png A604800
#ExpiresByType text/css A604800
#ExpiresByType text/javascript A604800
#ExpiresByType application/x-javascript A604800


# Пути для поиска файлов
php_value include_path ".:/home/host1000218/shashkovs.ru/htdocs/www/forum179/conduit179_test/:/home/host1000218/shashkovs.ru/include/conduit179_test/"


# Сообщения об ошибках
ErrorDocument 401 /forum179/conduit179_test/401.html
ErrorDocument 404 /forum179/conduit179_test/404.html
ErrorDocument 500 /forum179/conduit179_test/500.html

# Логирование ошибок
php_value display_errors off
php_value display_startup_errors off
php_value error_log "/home/host1000218/shashkovs.ru/logs/conduit179/php.log"