.terminal, .cmd {
    background-color: #000;
    color: #aaa;
    font-family: "Consolas","Courier New", monospace;
    font-size: 14px;
    line-height: 19px;
}
.terminal {
    overflow: hidden;
    padding: 0px 10px;
    position: fixed;
    bottom:0px;
    min-height: 114px;
    max-height: 20%;
    height:152px;
    width: 100%;
    margin-right:auto;
    margin-left:auto;
}
.cmd .prompt {
    float: left;
}
.terminal .terminal-output div div, .cmd .prompt {
    display: block;
    height: auto;
    line-height: 19px;
}
.terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
    background-color: #aaa;
    color: #000;
}
.cmd .cursor.blink {
    -webkit-animation: blink 1s infinite steps(1, start);
       -moz-animation: blink 1s infinite steps(1, start);
        -ms-animation: blink 1s infinite steps(1, start);
            animation: blink 1s infinite steps(1, start);
} 
@keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb; /* not #aaa because it's seem there is Google Chrome bug */
        color: #000;
  }
}
@-webkit-keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
@-ms-keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
@-moz-keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
.cmd span {
    float: left;
}
.cmd > .clipboard {
    position: fixed;
}
.cmd .clipboard {
    bottom: 0;
    left: 0;
    opacity: 0.01;
    position: absolute;
    width: 2px;
}
