article {
    margin: 20px auto;
    width: 800px;
    padding: 20px 0 60px;
}
header, article, footer {
    background-color: #000;
    border-radius: 10px;
    color: #aaa;
    font-family: "Droid Sans Mono","Consolas","Courier New",monospace;
}
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
header h2:after {
    content: ">";
    padding-left: 5px;
}
header h2 {
    font-weight: normal;
    margin-left: 40px;
}
section p {
    margin-left: 40px;
}
section .terminal {
    width: 700px;
    margin-left: 40px;
}
section .terminal {
    border: 1px solid #aaa;
    border-radius: 5px;
}
.terminal, .cmd {
    background-color: #000;
    color: #aaa;
    font-family: "Consolas","Courier New",monospace;
    font-size: 14px;
    line-height: 19px;
}
.terminal {
    overflow: hidden;
    padding: 10px;
    position: relative;
    height: 300px
}
.cmd .prompt {
    float: left;
}
.terminal .terminal-output div div, .cmd .prompt {
    display: block;
    height: auto;
    line-height: 19px;
}
.terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
    background-color: #aaa;
    color: #000;
}
.cmd .cursor.blink {
    -webkit-animation: blink 1s infinite steps(1, start);
       -moz-animation: blink 1s infinite steps(1, start);
        -ms-animation: blink 1s infinite steps(1, start);
            animation: blink 1s infinite steps(1, start);
} 
@keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb; /* not #aaa because it's seem there is Google Chrome bug */
        color: #000;
  }
}
@-webkit-keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
@-ms-keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
@-moz-keyframes blink {
  0%, 100% {
        background-color: #000;
        color: #aaa;
  }
  50% {
        background-color: #bbb;
        color: #000;
  }
}
.cmd span {
    float: left;
}
.cmd > .clipboard {
    position: fixed;
}
.cmd .clipboard {
    bottom: 0;
    left: 0;
    opacity: 0.01;
    position: absolute;
    width: 2px;
}
body {
    background-color: #E9E9E9;
}
