.bar {
    background: #cadceb;
    padding: 0 10px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 10px;
    margin-bottom: 0.2em;
}
.tool {
    display: inline-block;
    font-size: 1.1em;
    line-height: 2.2em;
    margin-right: 5px;
    width: auto;
}
.tool :disabled {
    color: #AAA;
    cursor: auto;
}
.tool > * {
    display: inline-block;
}
.tool button, .tool span {
    background-color: #E5E5E5;
    cursor: pointer;
    height: 100%;
    text-align: center;
}
#mode {
    padding: 0 0.5em;    
}
#togglePanel {
    width: 1.6em;
}
#togglePanel[data-state="0"]:before {
    content: "\1f4c5";
}
#togglePanel[data-state="1"]:before {
    content: "\b1";
}
#togglePanel[data-state="0"]+div {
    display: none;
}
#mode[data-state="0"]:before {
    content: "\2714";
}
#mode[data-state="1"]:before {
    content: "\2717";
}
#mode[data-state="2"]:before {
    content: "\2718";
}
option.current {
    font-weight: bold;
}
#markPanel button {
    width: 1.6em;
    padding: 0;
    font-family: FreeSans, sans-serif;
}
